* {
    box-sizing: border-box;
  }

  body{
      background-color: rgb(255, 136, 77);
      background-image: linear-gradient(90deg,#c165dd,#5c27fe);
  }
  .container{
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    position: relative;
  }
  input{
      color: white;
      border: 0px;
      font-size: 2em;
      background-color: rgb(102, 0, 204);
      display: inline-block;
      width: 100px;
      height: 50px;
      margin-top: 5px;
      text-align: center;
      font-family: 'Roboto Mono', monospace;
      font-weight: bold;
     
  }

  input:hover ,button:hover{
      background-color:black ;
      box-shadow: 1px 1px 4px black;
  }

  button{
    color: white;
    border: 0px;
    font-size: 2em;
    background-color: rgb(33, 0, 51);
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }

  #equals{
      background-color:rgb(33, 0, 51) ;
      width: 204px;
  }

  .outputPanel{
      background-color: #11001a;
      width: 412px;
      text-align: center;
      display: inline-block;
      margin-bottom: -4px;
      cursor: text;
  }
  .upper-panel{
      height: 40px;
      color:white;
      text-align: right;
      font-family: 'Montserrat', sans-serif;
      position: relative;
      opacity: 70%;
      overflow-x: auto;
      overflow-y: hidden;
     
  }
  .lower-panel{
      height: 50px;
      font-family: 'Montserrat', sans-serif;
      text-align: right;
      color:white;
      font-size: 35px;
      overflow: hidden;
  }